<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EmailSenderSoap1" />
                <binding name="EmailSenderSoap2" />
                <binding name="EmailSenderSoap" />
                <binding name="RssFeedReaderServiceSoap1" />
                <binding name="RssFeedReaderServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="EmailSenderSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="EmailSenderSoap122">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="EmailSenderSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="RssFeedReaderServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/EmailSender.asmx" binding="basicHttpBinding"
                bindingConfiguration="EmailSenderSoap1" contract="WebApplication1.EmailSenderService.EmailSenderSoap"
                name="EmailSenderSoap1" />
            <endpoint address="http://localhost:5000/EmailSender.asmx" binding="customBinding"
                bindingConfiguration="EmailSenderSoap121" contract="WebApplication1.EmailSenderService.EmailSenderSoap"
                name="EmailSenderSoap121" />
            <endpoint address="http://localhost:5000/EmailSender.asmx" binding="basicHttpBinding"
                bindingConfiguration="EmailSenderSoap2" contract="WebApplication1.EmailSenderService.EmailSenderSoap"
                name="EmailSenderSoap2" />
            <endpoint address="http://localhost:5000/EmailSender.asmx" binding="customBinding"
                bindingConfiguration="EmailSenderSoap122" contract="WebApplication1.EmailSenderService.EmailSenderSoap"
                name="EmailSenderSoap122" />
            <endpoint address="http://localhost:5000/EmailSender.asmx" binding="basicHttpBinding"
                bindingConfiguration="EmailSenderSoap" contract="WebApplication1.EmailSenderService.EmailSenderSoap"
                name="EmailSenderSoap" />
            <endpoint address="http://localhost:5000/EmailSender.asmx" binding="customBinding"
                bindingConfiguration="EmailSenderSoap12" contract="WebApplication1.EmailSenderService.EmailSenderSoap"
                name="EmailSenderSoap12" />
            <endpoint address="http://localhost:5000/RssFeedReader.asmx"
                binding="basicHttpBinding" bindingConfiguration="RssFeedReaderServiceSoap1"
                contract="WebApplication1.RssFeedReaderService.RssFeedReaderServiceSoap"
                name="RssFeedReaderServiceSoap1" />
            <endpoint address="http://localhost:5000/RssFeedReader.asmx"
                binding="basicHttpBinding" bindingConfiguration="RssFeedReaderServiceSoap"
                contract="WebApplication1.RssFeedReaderService.RssFeedReaderServiceSoap"
                name="RssFeedReaderServiceSoap" />
            <endpoint address="http://localhost:5000/RssFeedReader.asmx"
                binding="customBinding" bindingConfiguration="RssFeedReaderServiceSoap12"
                contract="WebApplication1.RssFeedReaderService.RssFeedReaderServiceSoap"
                name="RssFeedReaderServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>