<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RssFeedReaderServiceSoap" />
                <!-- <binding name="EmailSenderServiceSoap" /> -->
            </basicHttpBinding>
            <customBinding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/RssFeedReader.asmx"
                binding="basicHttpBinding" 
                bindingConfiguration="RssFeedReaderServiceSoap"
                contract="WebApplication1.RssFeedReaderService.RssFeedReaderServiceSoap"
                name="RssFeedReaderServiceSoap" />
            <!-- <endpoint address="http://localhost:5000/EmailSender.asmx"  -->
            <!--     binding="basicHttpBinding" -->
            <!--     bindingConfiguration="EmailSenderServiceSoap" -->
            <!--     contract="WebApplication1.EmailSenderService.EmailSenderServiceSoap" -->
            <!--     name="EmailSenderServiceSoap" /> -->
        </client>
    </system.serviceModel>
</configuration>