<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RssFeedReaderServiceSoap" />
            </basicHttpBinding>
            <customBinding>

                <binding name="RssFeedReaderServiceSoap">
                    <textMessageEncoding messageVersion="Soap" />
                    <httpsTransport maxReceivedMessageSize="2147483647"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/RssFeedReader.asmx"
                binding="basicHttpBinding" bindingConfiguration="RssFeedReaderServiceSoap"
                contract="WebApplication1.RssFeedReaderService.RssFeedReaderServiceSoap"
                name="RssFeedReaderServiceSoap" />

        </client>
    </system.serviceModel>
</configuration>